MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/javier-db?retryWrites=true&w=majority
PORT=8000
JWT_SECRET=javier_super_secret_change_this_in_production
NODE_ENV=production
ALLOWED_ORIGIN=https://your-frontend-url.vercel.app
